<section id="about" class="mat-typography" [ngStyle.lt-md]="{'margin-top': '50px', 'margin-bottom': '50px'}">
      <div class="container">

      	<div class="about-section about-heading" fxLayout="column" fxLayoutAlign="center center">
            <div>
            	<h2 [ngStyle.lt-md]="{'margin-bottom': '15px'}">Quienes Somos</h2>
            </div>
            <div>
	        	<h3 [ngStyle.xs]="{'font-size': '18px'}" [ngStyle.sm]="{'font-size': '22px'}">Oriflame Holding AG es una compañía de belleza de venta directa que se dedica al diseño, desarrollo, fabricación y comercialización mundial de productos que incluyen cuidado de la piel, cosméticos, fragancias, cuidado personal y del cabello, accesorios y Wellness.</h3>
	        </div>
			<div>
            	<h2 [ngStyle.lt-md]="{'margin-bottom': '15px'}">Un poco de Hisoria</h2>
            </div>
            <div>
	        	<h3 [ngStyle.xs]="{'font-size': '18px'}" [ngStyle.sm]="{'font-size': '22px'}">
					Todo comenzó en 1967, en un pequeño edificio con dos oficinas en el centro de Estocolmo, cuando dos hermanos, Jonas y Robert af Jochnick, y un amigo, Bengt Hellsten, comenzaron a hablar sobre sus sueños. Querían crear una compañía distinta que ofreciera una gama diferente de productos. Fue cuando nació la idea de dar a las personas la oportunidad de disfrutar productos de belleza de alta calidad inspirados en la naturaleza sueca. En ese entonces, este concepto no sonaba muy exitoso -especialmente en Suecia. Sin embargo, esta conversación marcó el comienzo de una gran trayectoria que ha recorrido un camino de más de 50 años. 

		Hoy Oriflame está presente en más de 60 países, y cuenta con más de 3 millones de Socios que comparten, promueven y venden nuestros productos de belleza y Wellness.
       
				</h3>
	        </div>
        </div>
		
		<div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
        	<div fxFlex="33">
		          <div fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 60px'}">
		            <div>
		              <i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">contacts</i>
		            </div>
		            <span fxFlex="30px"></span>
		            <h2 class="about-text">Apoyamos a ONGs en todo el mundo</h2>
		            <span fxFlex="10px"></span>
		            <p class="about-text">Oriflame Holding AG apoya a ONG y varias organizaciones benéficas en todo el mundo. Esto incluye la World Childhood Foundation, fundada por H.M. Reina Silvia de Suecia y cofundada por Oriflame y la Fundación Af Jochnick.</p>
		          </div>
		      </div>

		      <div fxFlex="33">
		          <div fxLayout="column" fxLayoutAlign="center center" [ngStyle.lt-md]="{'padding': '0 60px'}">
		            <div>
		              <i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">language</i>
		            </div>
		            <span fxFlex="30px"></span>
		            <h2 class="about-text">Nos expandimos por el Mundo</h2>
		            <span fxFlex="10px"></span>
		            <p class="about-text">Oriflame es una empresa líder en venta directa de cosmética y bienestar. Estamos presentes en más de 60 países, de los cuales somos líderes del mercado en más de la mitad. Oriflame tiene sus orígenes en Suecia, con oficinas corporativas en Suiza. Ofrecemos una amplia gama de productos de belleza de alta calidad, así como una oportunidad única de unirse a nosotros como Brand Partner y comenzar su propio negocio.</p>
		          </div>
		      </div>

		      <div fxFlex="33">
		          <div fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 60px'}">
		            <div>
		              <i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">local_library</i>
		            </div>
		            <span fxFlex="30px"></span>
		            <h2 class="about-text">Un ambiente de trabajo confortable</h2>
		            <span fxFlex="10px"></span>

		            <p class="about-text"> 
						Para nosotros hacer de Oriflame una mejor empresa para trabajar es una tarea constante, por ello brindamos a nuestra gente una serie de espacios profesionales y beneficios para que puedan desarrollarse al máximo en nuestra organización y podamos crecer juntos logrando nuestras metas. Es así que consideramos los siguientes aspectos en nuestra propuesta laboral: desarrollo profesional, beneficios exclusivos y oportunidades de crecimiento.
					</p>
		          </div>
		      </div>
        </div>
      </div>
</section>
