<section id="portfolio" [ngStyle.lt-md]="{'margin-top': '30px', 'margin-bottom': '30px'}">
      <div class="container portfolio-card">

        <div class="portfolio-section portfolio-heading mat-typography" fxLayout="column" fxLayoutAlign="center center">
            <div>
            <h2 [ngStyle.lt-md]="{'margin-bottom': '15px'}">Portfolio</h2>
            </div>
            <div>
            <h3 [ngStyle.xs]="{'font-size': '18px'}" [ngStyle.sm]="{'font-size': '22px'}">Contamos con los mejores productos del mercado </h3>
            </div>
        </div>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutGap.sm="8px">
          <div fxFlex="33.33" [about]>
            <mat-card class="p-0 m-0">
              <img mat-card-image src="assets/img/1.jpeg">
              <mat-card-content>
                <h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Project Title</h5>
                <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
                  Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.
                </p>
                <mat-divider class="mb-1"></mat-divider>
                <button class="portfolio-button" mat-icon-button><mat-icon class="text-muted">link1</mat-icon></button>
                <button class="portfolio-button" mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
              </mat-card-content>
            </mat-card>
          </div>
          <div fxFlex="33.33" [about]>
            <mat-card class="p-0 m-0">
              <img mat-card-image src="assets/img/2.jpeg">
              <mat-card-content>
                <h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Project Title</h5>
                <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
                  Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.
                </p>
                <mat-divider class="mb-1"></mat-divider>
                <button class="portfolio-button" mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>
                <button class="portfolio-button" mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
              </mat-card-content>
            </mat-card>
          </div>
          <div fxFlex="33.33" [about]>
            <mat-card class="p-0 m-0">
              <img mat-card-image src="assets/img/3.jpeg">
              <mat-card-content>
                <h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Project Title</h5>
                <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
                  Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.
                </p>
                <mat-divider class="mb-1"></mat-divider>
                <button class="portfolio-button" mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>
                <button class="portfolio-button" mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        
        <div class="portfolio-row" fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutGap.sm="8px">
          <div fxFlex="33.33" [about]>
            <mat-card class="p-0 m-0">
              <img mat-card-image src="assets/img/4.jpeg">
              <mat-card-content>
                <h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Project Title</h5>
                <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
                  Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.
                </p>
                <mat-divider class="mb-1"></mat-divider>
                <button class="portfolio-button" mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>
                <button class="portfolio-button" mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
              </mat-card-content>
            </mat-card>
          </div>
          <div fxFlex="33.33" [about]>
            <mat-card class="p-0 m-0">
              <img mat-card-image src="assets/img/5.jpeg">
              <mat-card-content>
                <h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Project Title</h5>
                <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
                  Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.
                </p>
                <mat-divider class="mb-1"></mat-divider>
                <button class="portfolio-button" mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>
                <button class="portfolio-button" mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
              </mat-card-content>
            </mat-card>
          </div>
          <div fxFlex="33.33" [about]>
            <mat-card class="p-0 m-0">
              <img mat-card-image src="assets/img/6.jpeg">
              <mat-card-content>
                <h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Project Title</h5>
                <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
                  Lorem ipsum dolor sit amet conse ctetur adipi sicing elit. Doloribus numquam quis.
                </p>
                <mat-divider class="mb-1"></mat-divider>
                <button class="portfolio-button" mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>
                <button class="portfolio-button" mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
              </mat-card-content>
            </mat-card>
          </div>
        </div>

      </div>
</section>
