/* -------------------  ELEVATION ---------------------------  */

.mat-elevation-z0 {
   position: relative;
   z-index: 2;
}

.mat-elevation-z8 {
   position: relative;
   z-index: 2;
}

mat-sidenav{
  left: 0;
  width: 50%
}

/* -------------------  NAVIGATION ---------------------------  */

.navigation-toolbar{
  background-color: #f7f7f7;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.navigation-fixed{
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.navigation-is-mobile .navigation-toolbar {
  position: fixed;
  z-index: 2;
}

h1.navigation-company-name {
  margin-left: 8px;
}

.navigation-sidenav-container {
  flex: 1;
}

.navigation-is-mobile .navigation-sidenav-container {
  flex: 1 0 auto;
}

.navigation-list{
  padding: 0;
  margin-left: 8px;
}

.navigation-spacer {
  flex: 1 1 auto;
}

.navigation-icon {
  padding: 0 22px;
}

.navigation-empty{
  height: 56px;
}

/* -------------------  LOGO ---------------------------  */

.logo{

  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
  position: relative;
  height: inherit;
  

}

.logo img {
  width: 120px;
}

/* -------------------  LPCONTENT ---------------------------  */